main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}
.content-pain {
    width: 50%;
    margin: 0;
    margin-right: 20px;
}

.content-pain div {
    width: 100%;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.content-pain h1 {
    font-size: 50px;
}

.content-pain img {
    float: right;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    top: -35px;
    cursor: pointer;
}

.ingredients {
    width: 20%;
    padding: 20px;
}

.ingredients h2 {
    margin-top: 10px;
    text-decoration: underline;
}

.ingredient-wrapper h3 {
    display: inline-block;
}