.email-sent {
    margin-top: 20px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.email-sent h2 {
    font-size: 22px;
    text-align: center;
}

.email-sent a {
    width: 100%;
    text-align: center;
    display: block;
}