.email-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #f2f274;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}

.email-code h2 {
    font-size: 20px;
}

.email-code form {
    margin-top: 10px;
}

.email-code input {
    margin-right: 10px;
    display: inline-block;
}

.email-code button {
    width: 200px;
}

.setting-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.setting-type h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.setting-type input {
    width: 300px;
}

button {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

button:hover {
    color: white;
    background: #CFCFEA;
}