{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}"></script>
<title>Task Master</title>
{% endblock %}

{% block body %}

<div class="modal">
    <p>X</p>
    <form>
        <input name="name" type="text" placeholder="Recipe Name..."/>
        <textarea name="desc" type="text" placeholder="Recipe Description..."></textarea>
        
        <div class="ingredient-wrapper">
            <input type="text" placeholder="Ingredient..."/>
            <input type="text" placeholder="Amount.."/>
            <label>Optional</label>
            <input type="checkbox" name="optional"/>
            <button type="button">+</button>
        </div>

        <button id="add-btn" type="button">Add</button>
    </form>
</div>

<main>

    {% if allowEdit %}
        <img id="settings" src="{{ url_for('static', filename='images/settings.png') }}"/>
    {% endif %}

    <div class="content-pain">

        {% if recipes|length < 1 %}

            {% if allowEdit %}

                <div class="filter">
                    <ul>
                        <li id="sort-my">My Recipes</li>
                        <li id="sort-fav">Favourites</li>
                        <li id="sort-rec">Recommended</li>
                    </ul>
                </div>

                <div id="add-recipe-btn" class="recipe">
                    <h1>Add a New Recipe!</h1>
                </div>
            {% else %}
                <h3>User has no recipes yet!</h3>
            {% endif %}
        {% else %}

        <div class="filter">
            <ul>
                <li id="sort-my">My Recipes</li>
                <li id="sort-fav">Favourites</li>
                <li id="sort-rec">Recommended</li>
            </ul>
        </div>

        {% if allowEdit %}
            <div id="add-recipe-btn" class="recipe">
                <h1>Add a New Recipe!</h1>
            </div>
        {% endif %}

        <div id="recipe-wrapper">

            {% for recipe in recipes %}
                <div class="recipe">
                    <img src="{{ url_for('static', filename='images/tempRecipe.png') }}"/>
                    <div class="recipe-details" href="/account/{{ recipe.creator }}/{{ recipe.name.replace(' ', '-') }}">
                        <h3>{{ recipe.name }}</h3>
                        <span class="description">{{ recipe.description[:120] + "..." }}</span>

                        <div class="recipe-attr">
                            <span class="creator">{{ recipe.creator }}</span>
                            <span class="id">{{ recipe.id }}</span>
                        </div>   
                    </div>
                    {% if allowEdit %}
                        <img src="{{ url_for('static', filename='images/delete.svg') }}" class="delete-btn"/>
                    {% endif %}
                </div>

            {% endfor %}

        </div>

        {% endif %}

    </div>
</main>

{% endblock %}

