<div class="comment-wrapper">
    <div class="comment" data-id="{{ comment.id }}">

        <div class="comment-details">

            {% if userobj.id == comment.user %}
                <input type="text" name="users_comment" value="{{ comment.comment }}" disabled/>
            {% else %}
                <input type="text" name="comment" value="{{ comment.comment }}" disabled/>
            {% endif %}

            <div>
                <a href="/account/{{ comment.username }}">{{ comment.username }}</a>
                {% if comment.edited == 1 %}
                    <span class="edited">(edited)</span>
                {% endif %}
            </div>

            <span>{{ comment.comment_date }}</span>
        </div>

        <div class="comment-rating">

            {% if userobj.id in comment.ratings.keys() and comment.ratings[userobj.id] == 1 %}
                <img class="upvote" src="{{ url_for('static', filename='images/voted.svg') }}"/>
            {% else %}
                <img class="upvote" src="{{ url_for('static', filename='images/vote.svg') }}"/>
            {% endif %}
            
            <span>{{ comment.rating }}</span>

            {% if userobj.id in comment.ratings.keys() and comment.ratings[userobj.id] == -1 %}
                <img class="downvote" src="{{ url_for('static', filename='images/voted.svg') }}"/>
            {% else %}
                <img class="downvote" src="{{ url_for('static', filename='images/vote.svg') }}"/>
            {% endif %}


        </div>

    </div>

{% if userobj.id == comment.user %}
    <div class="comment-actions">
        <button id="btn-edit-comment" type="button" data-edit="true">Edit</button>
        <button id="btn-remove-comment" type="button">Delete</button>
    </div>
{% endif %}
</div>
