{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='js/recipe.js') }}"></script>
<title>Task Master</title>
{% endblock %}

{% block body %}

<main>
        {% if recipe != None %}
            <div class="content-pain">
                <div>
                    <h1>{{ recipe.name }}</h1>
                    {% if signedIn %}
                        {% if favourite %}
                            <img id="favourite" data-fav="true" src="{{ url_for('static', filename='images/fav-on.svg') }}"/>
                        {% else %}
                            <img id="favourite" data-fav="false" src="{{ url_for('static', filename='images/fav-off.svg') }}"/>
                        {% endif %}
                    {% endif %}
                </div>
                <p>{{ recipe.description }}</p>
                <span id="id">{{ recipe.id }}:<a href="/account/{{ recipe.creator }}">{{ recipe.creator }}</a></span>
            </div>

            <div class="ingredients">

                <h2>Required</h2>
                {% for key, val in recipe.ingredients["needed"].items() %}
                    <div class="ingredient-wrapper">
                        <h3>{{key}}</h3>
                        <span>{{val}}</span>
                    </div>  
                {% endfor %}

                <h2>Optional</h2>
                {% for key, val in recipe.ingredients["optional"].items() %}
                    <div class="ingredient-wrapper">
                        <h3>{{key}}</h3>
                        <span>{{val}}</span>
                    </div>
                {% endfor %}

            </div>
        {% else %}

            <h3>Recipe Doesn't Exist</h3>

        {% endif %}

</main>

{% endblock %}

