{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}"/>
<script src="{{ url_for('static', filename='js/resetpassword.js') }}"></script>
<title>Task Master</title>
{% endblock %}

{% block body %}
<main>

    {% if code == None %}
    <h2>Enter the email associated with your account.</h2>
    <form>
        <input type="email" name="email" placeholder="Email"/>
        <button type="button">Send Email</button>
    </form>

    <div class="email-sent">
        <h2>An email has been sent to your email. Follow the link to reset your password.</h2>
        <a href="/">Back To Home</a>
    </div>
    {% else %}
        <h2>Set New Password</h2>
        <form method="POST">
            <input type="password" name="pass" placeholder="New Password..." data-valid="false"/>
            <input type="password" name="pass_conf" placeholder="Confirm New Password.." data-valid="false"/>
            <input type="text" name="code" value="{{ code }}" disabled/>
            <button type="submit" id="btn_reset" disabled>Change Password</button>
        </form>
    {% endif %}
</main>
{% endblock %}

